.color{
	
	width: 20vw;
	background-color:gray;
	display: inline-block;
	padding: 2rem;
	color: white;
	margin: 20px;

}
#red{
	cursor: pointer;
	transition: all 1s;
	
	
}
#green{
	cursor: pointer;
	transition: all 1s;
	
}
#blue{
	cursor: pointer;
	transition: all 1s;
	
} 

html, body{
	
	height: 100%;
	
}